@import 'variables';

// div {
//     color: $red-color;
// }

.card-course-item {
    margin-top: 16px;
}
a {
    text-decoration: none !important;
}
.checkbox-select-all-options {
    width: 140px !important;
    margin: 0 16px !important;
    text-align: center;
}