<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid" style="display: flex; justify-content: space-between">
      <a class="navbar-brand" href="/">F8 education</a>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://scontent.fhan14-5.fna.fbcdn.net/v/t39.30808-6/468314204_2774511876092641_8067671200659497200_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHx62KrjBv0YaAyxegsUhdPcE8dAqOwOcJwTx0Co7A5wt1ZOIFbxf_wahU5GU3yN7l4Whky7WnfoROYJLUaIAeR&_nc_ohc=O2E3LGS48uYQ7kNvgHNuYzz&_nc_oc=AdictCSagw-4TdbxtNglWg7DTBzG1kW64_N-f_pm49mEcm-yqtLts-wz_f2QpFe8wy11rUBp2HvluYX9jitVI4jH&_nc_zt=23&_nc_ht=scontent.fhan14-5.fna&_nc_gid=Af-2DTVl6UO6FfGbnSQkLee&oh=00_AYD-o5SB5vTVXgBvKqoABJ5Us5w8SocMUm_RuXmXlkAq-w&oe=67B13AB3" style="width: 40px; height: 40px" alt="">
              Finn Liam
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
              <li><a class="dropdown-item" href="/me/stored/courses">Bài viết của tôi</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>